table.chart {
  width: 100%;
  font-size: 12px;
  .bar-label {
    text-align: right;
    padding-right: 0;
  }
  .bar {
    div {
      font-size: 10px;
      background-color: lighten(#7da764, 20%);
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: #636566;      
    }
  }
  .count {
    text-align: center;
  }
}